@import "mixins.scss";


* {
  box-sizing: border-box;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select{
  outline: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


.oh{
  overflow: hidden;
}

a{
  color: black;
}

.desktop{
  @media (max-width: 992px) {
    display: none !important;
  }
}

.table-1100{
  @include from-1100{
    display: none!important;
  }
}

.desktop-1100{
  @include for-1100{
    display: none!important;
  }
}

.tablet{
  @media (min-width: 992px) {
    display: none !important;
  }
}
.mobile{
  @media (min-width: 768px) {
    display: none !important;
  }
}

input{
  transition: 0.3s;
}
.correct input,
.correct textarea{
  border-color: green !important;
}

.error-field input,
.error-field textarea{
  border-color: red !important;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.custom-row{
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.custom-col{
  padding: 0 15px;
}

.site-container{
  max-width: 1750px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.site-title{
  font-size: 45px;
  text-align: center;
  padding: 60px 0;
  font-family: 'Lora', sans-serif;
  font-weight: 700;

  @include for-768{
    font-size: 30px;
    padding: 30px 0;
  }

  span{
    position: relative;
    font-family: 'Lora', sans-serif;
    font-weight: 700;

    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      width: 50px;
      height: 4px;
      background: black;
      margin-left: -10px;

      @include for-768{
        height: 2px;
      }
    }
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(100%, -50%);
      width: 50px;
      height: 4px;
      background: black;
      margin-right: -10px;

      @include for-768{
        height: 2px;
      }
    }
  }

}


.site-btn{
  position: relative;
  padding: 0 15px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;

  span{
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    top: -1px;

    @include for-1300{
      font-size: 13px;
    }
  }

  @include for-1300{
    padding: 0 10px;
    height: 25px;
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #f32b2e;
    transition: 0.3s;

    @include for-1300{
      height: 23px;
      width: 23px;
    }
  }

  &:hover{
    span{
      color: #ffffff;
    }

    &:before{
      width: 100%;
      border-radius: 20px;
    }
  }

  &--dark{
    display: flex;
    align-items: center;
    width: fit-content;
    padding-right: 55px;
    position: relative;

    span{
      color: white;
    }

    &:before{
      background: black;
    }
  }

  &__ico{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 23px;
    display: flex;
    align-items: center;


    svg{
      width: 100%;
    }
  }
}


.site-form{

  from{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title{
    font-family: 'Lora', sans-serif;
    color: #bf0908;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__row{
    margin-bottom: 15px;
  }

  &__input{
    display: flex;
    flex-direction: column;

    label{
      color: #999999;
      font-size: 15px;
      margin-bottom: 10px;
    }

    input{
      height: 34px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 0 15px;
      font-size: 15px;
    }
  }

  &__custom{

    label{
      color: #999999;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  &__input-list{
    margin: 0 -10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__input-item{
    width: 50%;
    padding: 0 10px;
    margin-bottom: 15px;


    @include for-992{
      width: 100%;
    }
  }

  &__radio{
    input{
      display: none;
    }

    label{
      position: relative;
      padding-left: 25px;
      color: black;
      padding-top: 2px;
      font-weight: 700;

      &:before{
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #999999;
        position: absolute;
        left: 1px;
        top: 1px;
      }

      &:after{
        content: '';
        position: absolute;
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #bf0908;
        opacity: 0;
      }
    }

    input:checked + label{

      &:before{
        border-color: #bf0908;
      }

      &:after{
        opacity: 1;
      }
    }

  }

  &__textarea{
    display: flex;
    flex-direction: column;

    label{
      color: #999999;
      font-size: 15px;
      margin-bottom: 10px;
    }

    textarea{
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 8px 15px;
      height: 70px;
      resize: none;
      font-size: 16px;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
  }

  &__btn-i{

  }

}

.page__content{
  min-height: calc(100vh - 200px);
}

//.swiper-container{
//
//  .custom-button-prev{
//    width: 40px;
//    height: 40px;
//    //background: url("../img/ico/button-prev.svg") center/contain no-repeat;
//    cursor: pointer;
//    transition: .3s;
//
//    &:hover{
//      opacity: 0.6;
//    }
//
//    &[aria-disabled="true"]{
//      pointer-events: none;
//      opacity: .3;
//    }
//  }
//
//  .custom-button-next{
//    width: 40px;
//    height: 40px;
//    //background: url("../img/ico/button-next.svg") center/contain no-repeat;
//    cursor: pointer;
//    transition: .3s;
//
//    &:hover{
//      opacity: 0.6;
//    }
//
//    &[aria-disabled="true"]{
//      pointer-events: none;
//      opacity: .3;
//    }
//  }
//}


.header{
  border-bottom: 1px solid #cccccc;

  @include for-992{
    border-bottom: 0;
  }

  &__inner{

  }

  &__content{
    display: flex;
    align-items: center;
    height: 79px;
    justify-content: space-between;

    @include for-992{
      height: auto;
      flex-wrap: wrap;
      padding-top: 20px;
    }
  }

  &__logo{
    display: flex;
    align-items: center;
    max-width: fit-content;
    width: 100%;

    @include for-992{
      width: fit-content;
      max-width: 100%;
      order: 1;
    }

    @include for-550{
      width: 100%;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  &__logo-big{
    margin-right: 10px;

    @include for-1700{
      max-width: 170px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: 100%;
        height: auto;
      }
    }

    @include for-1300{
      max-width: 150px;
      margin-right: 5px;
    }

    @include for-1200{
      max-width: 125px;
    }

    @include for-992{
      width: 210px;
    }
  }

  &__logo-small{
    @include for-1700{
      max-width: 105px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: 100%;
        height: auto;
      }
    }

    @include for-1200{
      max-width: 80px;
    }

    @include for-992{
      width: 135px;
    }
  }

  &__nav{
    padding: 0 15px;
    display: flex;
    height: 100%;
    align-items: center;

    @include for-1200{
      padding: 0 6px;
    }

    @include for-992{
      max-width: 100%;
      order: 3;
      position: relative;
      flex-direction: column;
      padding: 0;
      height: 65px;
      width: 100%;
      margin-top: 35px;
    }
  }

  &__nav-title{
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    background: #bf0909;
    cursor: pointer;

    &:before{
      content: '';
      width: 15px;
      left: -15px;
      height: 100%;
      top: 0;
      position: absolute;
      background: #bf0909;
    }

    &:after{
      content: '';
      width: 15px;
      right: -15px;
      height: 100%;
      top: 0;
      position: absolute;
      background: #bf0909;
    }

    @include for-992{
      display: flex;
    }

    span{
      font-family: 'Lora', sans-serif;
      font-weight: 700;
      color: #ffffff;
      font-size: 25px;
      text-transform: uppercase;
      line-height: normal;
    }

  }

  &__nav-title-ico{
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      display: block;

      &:last-child{
        display: none;
      }
    }
  }

  &.menu-open &__nav-title-ico{

    svg{
      display: none;

      &:last-child{
        display: block;
      }
    }
  }

  &__nav-list{
    display: flex;
    margin: 0 -12px;

    @include for-1400{
      margin: 0 -10px;
    }

    @include for-1200{
      margin: 0 -6px;
    }

    @include for-992{
      margin: 0;
      flex-direction: column;
      top: 65px;
      left: -15px;
      width: calc(100% + 30px);
      position: absolute;
      display: none;
      z-index: 10;
    }
  }

  &__nav-item{
    padding: 0 12px;

    @include for-1400{
      padding: 0 10px
    }

    @include for-1200{
      padding: 0 6px
    }

    @include for-992{
      padding: 0;
      width: 100%;
    }
  }

  &__nav-link{
    position: relative;

    span{
      font-family: 'Lora', sans-serif;
      font-size: 20px;
      color: black;
      font-weight: 600;
      transition: .3s;

      @include for-1700{
        font-size: 16px;
      }

      @include for-1400{
        font-size: 14px;
      }

      @include for-1200{
        font-size: 12px;
      }

      @include for-992{
        color: #fefefe;
        font-size: 20px;
        height: 50px;
        border-top: 1px solid white;
        padding: 0 15px;
        background: #f32b2e;
        display: flex;
        width: 100%;
        align-items: center;


        &:active, &:focus{
          background: #bf0909;
        }
      }
    }

    @include from-992 {

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 20px);
        height: calc(100% + 20px);

        @include for-1200 {
          display: none;
        }
      }

      &:after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: #bf0909;
        transition: .3s;
        opacity: 0;
      }

      &.active {

        span {
          color: #bf0909;
        }

        &:after {
          opacity: 1;
        }
      }

      &:hover {

        span {
          color: #bf0909;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__column{
    max-width: 265px;
    width: 100%;
    display: flex;
    align-items: center;

    @include for-1700{
      max-width: fit-content;
    }

    @include for-992{
      width: 50%;
      max-width: 100%;
      order: 2;
      justify-content: flex-end;
    }

    @include for-550{
      width: 100%;
      justify-content: space-between;
    }
  }

  &__social{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 15px;

    @include for-1400{
      padding-right: 10px;
    }

    @include for-992{
      width: fit-content;
    }
  }

  &__social-item{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #999999;
    transition: .3s;
    font-size: 18px;

    @include for-1700{
      font-size: 14px;
    }

    @include for-1200{
      font-size: 12px;
      margin-bottom: 5px;
    }

    @include for-992{
      margin-bottom: 10px;
      font-size: 20px;
    }


    svg path{
      transition: .3s;
    }

    &:hover{
      color: black;

      svg path{
        fill: #bf0909;
      }
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__social-ico{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    @include for-1700{
      width: 18px;
      height: 18px;
    }

    @include for-1200{
      width: 14px;
      height: 14px;
    }

    svg{
      width: 100%;
    }
  }

  &__planet{
    display: flex;
    max-width: 30px;
    width: 100%;

    @include for-1400{
      max-width: 25px;
    }
  }

  &__planet-item{

    &:hover{

      svg path{
        fill: #bf0909;
      }
    }

  }

  &__planet-ico{
    height: 30px;
    width: 30px;

    @include for-1400{
      height: 25px;
      width: 25px;
    }

    @include for-992{
      height: 30px;
      width: 30px;
    }

    svg{
      width: 100%;

      path {
        fill: #999999;
        transition: .3s;
      }
    }
  }

}

.page:not(.home-page){
  background-image: none!important;
}

.home-page{

  @include from-992 {
    position: relative;

    .header {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  @include for-992{
    background-image: url('../img/home-mobile-bg.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.home{

  &__inner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content{
    display: flex;
    position: relative;
    z-index: 2;

    @include from-992 {
      position: relative;
      padding-top: 80px;
      padding-bottom: 110px;
      height: 100vh;
    }

    @include for-992{
      padding-top: 70px;
      padding-bottom: 80px;
      flex-direction: column;
    }
  }

  &__info{
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include for-1400{
      max-width: 550px;
    }

    @include for-992{
      max-width: 100%;
      justify-content: flex-start;
    }
  }

  &__info-title{
    color: black;
    font-size: 72px;
    font-family: 'Lora', sans-serif;
    font-weight: 700;

    @include for-1700{
      font-size: 54px;
    }

    @include from-1400{
      font-size: 34px;
    }

    @include for-992{
      font-size: 45px;
    }
  }

  &__info-txt{
    color: #666666;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 80px;

    @include for-1700{
      font-size: 18px;
      padding-bottom: 50px;
    }

    @include for-992{
      padding-bottom: 30px;
    }
  }

  &__info-form{
    display: flex;
    width: 100%;

    form{
      position: relative;
      width: 100%;
      display: flex;

      background-color: rgb(255, 255, 255);
      border-radius: 40px;
      overflow: hidden;

      @include for-992{
        flex-direction: column;
        align-items: center;
        overflow: initial;
        border-radius: 0;
        background: transparent;
      }
    }
  }

  .home__info-form-input{
    background: transparent;
    font-size: 15px;
    color: #666666;
    padding-left: 30px;
    padding-right: 250px;
    height: 65px;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    width: 100%;
    border-radius: 40px;

    @include for-1400{
      height: 50px;
      padding-right: 180px;
    }

    @include for-992{
      padding: 0 15px;
      font-size: 14px;
      margin-bottom: 20px;
      height: 65px;
      background-color: rgb(255, 255, 255);
    }
  }

  .home__info-form-btn{
    position: absolute;
    right: -2px;
    top: 0;
    border: 0;
    background: #bf0909;
    transition: .3s;
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
    border-radius: 40px;
    max-width: 250px;
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 18px;

    @include for-1400{
      max-width: 180px;
      font-size: 16px;
    }

    @include for-992{
      max-width: 255px;
      height: 65px;
      position: static;
    }

    &:hover{
      background: #ef1316;
    }
  }

  &__sphere{
    width: 100%;
    height: 100%;

    @include for-992{
      display: none;
    }
  }

  &__sphere-list{
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__sphere-item{
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    &:nth-child(n+10){

      .home__sphere-preview{
        opacity: .5;
      }

      &.active .home__sphere-preview,
      .home__sphere-preview.hover{
        opacity: 1;
      }
    }


    &--1{
      width: 256px;
      height: 256px;
      left: 56%;
      top: 45%;

      @include for-1700{
        width: 16vw;
        height: 16vw;
      }
    }

    &--2{
      width: 225px;
      height: 225px;
      left: 22%;
      top: 28%;

      @include for-1700{
        width: 14.0625vw;
        height: 14.0625vw;
      }
    }

    &--3{
      width: 180px;
      height: 180px;
      left: 83%;
      top: 21%;
    }

    &--4{
      width: 180px;
      height: 180px;
      left: 87%;
      top: 80%;
    }

    &--4{
      width: 180px;
      height: 180px;
      left: 87%;
      top: 80%;
    }
    &--5{
      width: 180px;
      height: 180px;
      left: 40%;
      top: 78%;
    }

    &--6{
      width: 110px;
      height: 110px;
      left: 18%;
      top: 67%;
    }

    &--7{
      width: 110px;
      height: 110px;
      left: 44%;
      top: 11%;
    }

    &--8{
      width: 110px;
      height: 110px;
      left: 94%;
      top: 51%;
    }

    &--9{
      width: 110px;
      height: 110px;
      left: 64%;
      top: 75%;
    }

    &--10{
      width: 75px;
      height: 75px;
      left: 57%;
      top: 94%;
    }

    &--11{
      width: 75px;
      height: 75px;
      left: 34%;
      top: 51%;
    }

    &--12{
      width: 75px;
      height: 75px;
      left: 77%;
      top: 53%;
    }

    &--3, &--4, &--5{
      @include for-1700{
        width: 11.25vw;
        height: 11.25vw;
      }
    }

    &--6, &--7, &--8, &--9{
      @include for-1700{
        width: 6.875vw;
        height: 6.875vw;
      }
    }

    &--10, &--11, &--12{
      @include for-1700{
        width: 4.6875vw;
        height: 4.6875vw;
      }
    }
  }

  &__sphere-preview{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid black;
    transition: .3s;
    cursor: pointer;

    &.hover{
      border-color: #bf0909;
    }
  }
  &__sphere-preview-ico{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sphere-preview-ico-item{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__sphere-preview-ico-hover-bg{
    opacity: 0;
    transition: .3s;
    background: #bf0909;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__sphere-preview.hover &__sphere-preview-ico-hover-bg{
    opacity: 1;
  }
  &__sphere-item.active   &__sphere-preview-ico-hover-bg{
    opacity:1;
  }

  &__sphere-preview-ico-hover{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
  &__sphere-preview.hover &__sphere-preview-ico-hover{
    opacity: 1;
  }
  &__sphere-item.active &__sphere-preview-ico-hover{
    opacity: 1;
  }

  &__sphere-detail{
    position: absolute;
    left: 50%;
    top: 50%;
    transition: .5s all;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
    background: #bf0909;
    border-radius: 50%;
    //width: 180%;
    //height: 180%;
    width: 540px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //&__sphere-item.active &__sphere-detail{
  &__sphere-detail.active{
    opacity: 1;
    z-index: 11;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  &__sphere-detail-inner{
    display: flex;
    max-width: 330px;
    width: 100%;
    position: relative;
  }

  &__sphere-detail-close{
    position: absolute;
    cursor: pointer;
    right: 0;
    top: -25px;
    width: 25px;
    height: 25px;
    background: url("../img/ico/close.svg") center/contain no-repeat;
    transition: .3s;

    &:hover{
      transform: rotate(90deg);
    }
  }

  &__sphere-detail-ico{
    max-width: 55px;
    width: 100%;
    margin-right: 20px;
  }

  &__sphere-detail-ico-i{
    width: 100%;
    object-fit: contain;
  }

  &__sphere-detail-info{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__sphere-detail-title{
    font-weight: 900;
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__sphere-detail-desc{
    color: white;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  &__sphere-detail-btn{

  }

  &__sphere-detail-btn-i{
    height: 50px;

    span{
      font-weight: 400;
      margin-top: 3px;
    }

    &:before{
      height: 50px;
      width: 50px;
    }

    &:hover{

      &:before{
        border-radius: 50px;
      }
    }
  }


  &__parallax{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include for-992{
      display: none;
    }
  }

  &__parallax-item{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &--1{
      width: 22vw;
      height: 22vw;
      left: 13%;
      top: 60%;
      z-index: 10;
      filter: blur(8px);
      opacity: .8;

      .home__parallax-item-inner{
        animation: pulse 10s -3s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(187deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }

    }

    &--2{
      width: 33vw;
      height: 33vw;
      left: 13%;
      top: 60%;
      opacity: .2;
      z-index: 5;

      .home__parallax-item-inner{
        animation: pulse 12s 1s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(187deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }

    &--3{
      width: 16vw;
      height: 16vw;
      left: 48%;
      top: 25%;
      z-index: 5;
      opacity: .8;
      filter: blur(5px);

      .home__parallax-item-inner{
        animation: pulse 5s 2s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(-90deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }

    &--4{
      left: 66%;
      top: 10%;
      width: 20vw;
      height: 20vw;
      z-index: 5;
      opacity: .6;

      .home__parallax-item-inner{
        animation: pulse 11s -5s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(-90deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }
    &--5{
      left: 59%;
      top: 36%;
      width: 8.5vw;
      height: 8.5vw;
      z-index: 2;
      opacity: .7;

      .home__parallax-item-inner{
        animation: pulse 11s -5s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(-90deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }
    &--6{
      left: 84%;
      top: 26%;
      width: 15vw;
      height: 15vw;
      z-index: 6;
      opacity: .5;

      .home__parallax-item-inner{
        animation: pulse 8s -2s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(187deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }
    &--7{
      left: 95%;
      top: 8%;
      width: 15vw;
      height: 15vw;
      z-index: 3;
      filter: blur(5px);
      opacity: 1;

      .home__parallax-item-inner{
        animation: pulse 11s -2s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(-90deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }
    &--8{
      left: 91%;
      top: 38%;
      width: 8vw;
      height: 8vw;
      z-index: 6;
      opacity: .9;

      .home__parallax-item-inner{
        animation: pulse 8s -2s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(187deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }
    &--9{
      left: 29%;
      top: 24%;
      width: 16vw;
      height: 16vw;
      filter: blur(15px);
      z-index: 6;
      opacity: .8;

      .home__parallax-item-inner{
        animation: pulse 10s -9s infinite;
      }

      .home__parallax-item-i{
        background: linear-gradient(-90deg, rgba(237,199,61,0) 0%, rgba(255,255,255,1) 100%);
      }
    }
  }

  &__parallax-item-content{
    height: 100%;
    width: 100%;
  }

  &__parallax-item-inner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__parallax-item-i{
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 50%;
  }

  &__mobile-content{
    width: 100%;
    padding-top: 70px;
  }

  &__mobile-list{
    display: flex;
    width: 100%;
    margin: 0 -15px;
    flex-wrap: wrap;
  }

  &__mobile-item-wrap{
    padding: 0 15px;
    margin-bottom: 30px;
    width: 50%;

    @include for-768{
      width: 100%;
    }
  }

  &__mobile-item{
    display: flex;
    align-items: center;
  }

  &__mobile-ico{
    width: 100%;
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    transition: .15s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mobile-item:active &__mobile-ico,
  &__mobile-item:focus &__mobile-ico,
  &__mobile-item:hover &__mobile-ico{
    background: #bf0909;
    border-color: #bf0909;
  }

  &__mobile-ico-inner{
    width: 45%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__mobile-ico-i{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__mobile-ico-hover{
    transition: .15s;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    background: #bf0909;
  }

  &__mobile-item:active &__mobile-ico-hover,
  &__mobile-item:focus &__mobile-ico-hover,
  &__mobile-item:hover &__mobile-ico-hove{
    opacity: 1;
  }

  &__mobile-item-name{
    color: black;
    font-size: 25px;
    font-weight: 900;
    padding-left: 15px;
  }


}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.8);
  }
}


.footer{

  &__inner{

  }

  &__content{
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;

    @include for-992{
      min-height: 80px;
    }
  }

  &__column{
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: #999999;
    font-size: 16px;
    text-align: center;

    a{
      color: #bf0909;
      text-decoration: underline;
    }
  }

}



.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition: .3s all;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;

  &.open{
    z-index: 350;
    opacity: 1;
    visibility: visible;
  }

  &__body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
  }

  &__inner{
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  &__content{
    max-width: 750px;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 11.18px 1.82px rgba(0, 0, 0, 0.07);
  }

  &__close{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: .3s all;
    z-index: 3;

    @include for-992{
      top: 15px;
      right: 10px;
    }

    &:hover{
      opacity: .7;
    }
  }

  &__close-ico{
    display: flex;
    width: 100%;
    height: 100%;
    //background: url("../img/ico/close.svg") center no-repeat;
    background-size: contain;
  }

}


/******  pressroom *****/

.pressroom{

  &__inner{

  }

  &__sort{
    margin-bottom: 20px;
  }

  &__cards{

  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 70px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;

    @include for-992{
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
  }

  &__bottom-txt{
    display: flex;
    align-items: center;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 20px;

    @include for-1300{
      max-width: 800px;
    }

    @include for-1200{
      max-width: 550px;
      font-size: 15px;
    }

    @include for-768{
      max-width: 100%;
      margin-bottom: 15px;
    }

    @include for-550{
      font-size: 13px;
    }

    &:before{
      content: "";
      display: block;
      min-width: 60px;
      height: 60px;
      background: url("../img/massege.png") center center no-repeat;
      background-size: contain;
      margin-right: 15px;

      @include for-1200{
        min-width: 40px;
        height: 40px;
      }
    }
  }

  &__bottom-right{

  }

  &__bottom-form{
    input[type="text"]{
      color: #666666;
      border: 0;
      font-size: 15px;
      margin-right: 40px;
      width: 240px;

      @include for-550{
        margin-right: 20px;
        margin-bottom: 15px;
      }

      &::placeholder{
        color: #666666;
        font-size: 15px;
      }
    }
  }

}

/******  pressroom end  *****/


.cards{
  padding: 7px;

  &__items{
    display: flex;
    margin: 0 -7px;
    flex-wrap: wrap;
  }

  &__item{
    width: 20%;
    padding: 0 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include for-1300{
      width: 33%;
    }

    @include for-768{
      width: 50%;
    }

    @include for-550{
      width: 100%;
    }

    &--big{
      width: 40%;

      @include for-1300{
        width: 66%;
      }

      @include for-768{
        width: 50%;
      }

      @include for-550{
        width: 100%;
      }

      .cards__content{
        text-align: center;
      }

      .cards__img{
        min-height: 300px;
        height: 300px;
      }

      .cards__img + .cards__content .cards__date{
        text-align: center;
      }

      .cards__img ~ .cards__content .cards__btn{
        text-align: center;
      }

      .cards__btn,
      .cards__date{
        text-align: left;
      }

      .cards__title{
        max-width: 510px;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;

        @include for-1300{
          font-size: 20px;
        }
      }

      .cards__desc{
        font-size: 25px;
        text-align: left;
        line-height: 35px;
        font-weight: bold;

        @include for-1300{
          line-height: 25px;
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }
  }

  &__item-inner{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom: 40px;

    @include for-1400{
      padding-bottom: 20px;
    }

    @include for-992{
      padding-bottom: 15px;
    }
  }

  &__label{
    display: inline-flex;
    background: #303030;
    position: absolute;
    color: white;
    height: 30px;
    width: 130px;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 7px;
    font-size: 15px;
    z-index: 2;

    @include for-1300{
      font-size: 14px;
    }

    &.red{
      background: #ac1019;
    }
  }

  &__img{
    min-height: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;

    img{
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
      transition: .6s all;
    }
  }

  &__content{
    padding: 0 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &:before{
      content: '';
      height: 25px;
      background: white;
      width: 100%;
      position: absolute;
      transition: .2s all;
      top: 0;
      left: 0;
    }

    @include for-1400{
      padding: 0 20px;
    }

    @include for-992{
      padding: 0 15px;
    }
  }

  &__date{
    font-size: 14px;
    color: #999999;
    margin-top: 35px;
    transition: .3s;

    @include for-1300{
      font-size: 12px;
    }
  }

  &__title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: .3s;

    @include for-1300{
      font-size: 16px;
    }
  }

  &__desc{
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
    transition: .3s;

    @include for-1300{
      font-size: 14px;
    }
  }

  &__btn{
    margin-top: auto;
  }


  &__item-inner:hover {



    .cards__img + .cards__content .cards__date,
    .cards__img + .cards__content .cards__title,
    .cards__img + .cards__content .cards__desc {
      transform: translateY(-15px);
    }

    .cards__img + .cards__content:before{
      top: -20px;
    }

    .cards__img + .cards__content .cards__img img{
      transform: scale(1.1);
    }
  }

}

.sort-block{

  &__items{
    display: flex;
    height: 42px;
    align-items: center;

    padding-bottom: 12px;
    border-bottom: 1px solid #d6d6d6;

    @include for-768{
      flex-direction: column;
      height: auto;
    }
  }

  &__item{
    position: relative;
    margin-right: 90px;

    @include for-768{
      margin-right: 0;
      margin-bottom: 15px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    &.active{
      .sort-block__list{
        display: block;
      }
    }
  }

  &__link{
    font-size: 18px;
    padding-right: 30px;
    padding-left: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;

    &:after{
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: rotate(180deg) translateY(50%);
      display: block;
      width: 13px;
      height: 10px;
      background: url("../img/arrow-top.png") center center no-repeat;
      transition: 0.3s;
    }

    &:before{
      content: "";
      width: 50%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background: #bf0909;
      margin-top: 9px;
      transition: 0.3s;
      opacity: 0;
    }

    &.active {
      &:before{
        opacity: 1;
      }
      &:after {
        transform: rotate(0deg) translateY(50%);
        top: 20%;
      }
    }
  }

  &__list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 12px 35px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 15px;
    width: 100%;
  }


  &__list-i{
    margin-bottom: 25px;

    &:last-child{
      margin-bottom: 0;
    }

    label{
      font-size: 15px;
      display: flex;
      align-items: center;
      color: #666666;
      position: relative;
      padding-left: 25px;

      &:before{
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        max-width: 15px;
        width: 100%;
        width: 100%;
        height: 15px;
        margin-right: 10px;
        border: 1px solid #c5c5c5;
        border-radius: 4px;
        background: rgb(229,229,230);
        background: linear-gradient(0deg, rgba(229,229,230,1) 0%, rgba(255,255,255,1) 100%);
      }

      &:after{
        content: '';
        width: 7px;
        height: 3px;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        transform: rotate(135deg);
        position: absolute;
        left: 4px;
        top: 5px;
        opacity: 0;
      }
    }

    input{
      display: none;
    }

    input[type="checkbox"]:checked + label{
      color: #bf0909;

      &:before{
        background: rgb(226,3,27);
        background: linear-gradient(0deg, rgba(226,3,27,1) 0%, rgba(252,69,74,1) 100%);
        border-color: #bf0909;
      }

      &:after{
        opacity: 1;
      }
    }

  }

}

.contacts{

  &__inner{

  }

  &__title{

  }

  &__items{
    display: flex;
    justify-content: space-between;

    @include for-1400{
      flex-wrap: wrap;
      //justify-content: space-around;
      justify-content: flex-start;
    }
  }

  &__item{
    display: flex;

    @include for-1400{
      width: 33%;
      margin-bottom: 40px;
    }

    @include for-992{
      width: 50%;

      &:last-child{
        margin-bottom: 0;
      }
    }

    @include for-550{
      width: 100%;
    }
  }

  &__img{
    margin-right: 15px;

    svg{
      path{
        fill: #bf0909;
      }
    }

    &--position{
      min-width: 40px;

      @include for-1600{
        min-width: 30px;
      }

      @include for-992{
        margin-right: 35px;
      }
    }

    &--phone{
      min-width: 50px;

      @include for-1600{
        min-width: 40px;
      }

      @include for-550{
        margin-right: 25px;
      }
    }

    &--email{
      min-width: 65px;

      @include for-1600{
        min-width: 50px;
      }

      @include for-550{
        margin-right: 14px;
      }
    }

    &--time{
      min-width: 50px;

      @include for-1600{
        min-width: 40px;
      }

      @include for-550{
        margin-right: 23px;
      }
    }

    &--soc{
      min-width: 45px;

      @include for-1600{
        min-width: 35px;
      }

      @include for-550{
        margin-right: 26px;
      }
    }

  }

  &__desc{
    border-left: 1px solid #c8c8c8;
    padding-left: 15px;
    color: #666666;
  }

  &__name{
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__txt{
    display: flex;
    flex-direction: column;

    p{
      margin: 0;
      margin-bottom: 10px;
      color: #666;
    }

    a{
      color: #666;
      margin-bottom: 10px;
      transition: .1s;

      &:hover{

        color: #bf0909;
      }
    }

    &--row{
      flex-direction: row;
    }

  }

  &__social{
    margin-right: 10px;

    transition: .1s;

    &:hover{
      transform: scale(0.9);
    }

    &:last-child{
      margin-right: 0;
    }

    &.fb{
      width: 50px;
      height: 50px;
      background: url("../img/contacts/fb.png") center center no-repeat;
      background-size: contain;
    }

    &.inst{
      width: 50px;
      height: 50px;
      background: url("../img/contacts/inst.png") center center no-repeat;
      background-size: contain;
    }

    &.in{
      width: 50px;
      height: 50px;
      background: url("../img/contacts/in.png") center center no-repeat;
      background-size: contain;
    }
  }

  &__map{
    margin-top: 80px;

    @include for-992{
      margin-top: 30px;
    }

    iframe{
      width: 100%;
      height: 450px;
    }
  }

}

.contact-form{
  position: fixed;
  bottom: 80px;
  right: -100%;
  max-width: 800px;
  width: 100%;
  z-index: 150;
  transition: .5s all;

  @include for-992{
    max-width: 100%;
    bottom: initial;
    top: -100%;
    right: 0;
  }

  &.open{
    right: 0;
    z-index: 100;

    @include for-992{
      right: initial;
      top: 0;
    }
  }

  &__inner{
    display: flex;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);

    @include for-992{
      flex-direction: column;
      overflow: scroll;
      height: 100vh;
    }
  }

  &__left{
    max-width: 320px;
    width: 100%;
    background-color: #bf0909;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include for-992{
      max-width: 100%;
    }
  }

  &__left-head{
    font-size: 16px;
    text-align: center;
    color: white;
    margin-bottom: 45px;
  }

  &__left-phone{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Lora', sans-serif;
    font-weight: 700;
  }

  &__left-or{
    padding: 20px 10px;
    width: 100%;
    position: relative;

    span{
      padding: 0 10px;
      background-color: #bf0909;
      z-index: 2;
      color: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: 1px;
      background-color: white;
      transform: translate(-50%, -50%);
    }
  }

  &__left-caption{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
  }

  &__left-btn{
    color: #010101;
    padding: 13px 20px;
    background-color: white;
    text-transform: uppercase;
    border-radius: 20px;
    transition: .3s;
    margin-left: auto;
    margin-right: auto;

    &:hover{
      background: black;
      color: white;
    }
  }

  &__right{
    background: white;
    min-height: 450px;
    width: 100%;
    padding: 15px;
    position: relative;

    @include for-992{
      min-height: auto;
    }
  }

  &__right-link{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    display: none;

    &.active{
      display: flex;
    }

    @include for-992{
      display: none !important;
    }
  }

  &__right-contactus{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    margin-bottom: 40px;

    span{
      color: #bf0909;
      font-size: 30px;
      font-weight: 700;
      font-family: 'Lora', sans-serif;
      position: relative;
      display: flex;
      cursor: pointer;
      text-align: center;

      &:after{
        content: '';
        position: absolute;
        background-color: #bf0909;
        left: 0;
        width: 100%;
        bottom: 0px;
        height: 2px;
      }
    }
  }

  &__right-contactus-ico{
    max-width: 41px;
    width: 100%;
    margin-bottom: 0;

    svg{
      width: 100%;
      fill: #bf0909;
    }
  }

  &__right-txt{
    color: #999999;
    font-size: 18px;
    max-width: 280px;
    text-align: center;
  }

  &__right-form{
    display: none;
    align-items: center;
    justify-content: center;

    &.active{
      display: flex;
    }

    @include for-992{
      display: flex !important;
    }
  }

  &__close{
    width: 16px;
    height: 16px;
    background: red;
    background: url('../img/ico/close.svg') center/contain no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    opacity: 0.5;

    &:before{
      content: '';
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
    }
  }

  &__right-form-i{
    padding-top: 20px;
  }

}

.contact-form-btn{
  max-width: 80px;
  width: 100%;
  height: 80px;
  position: fixed;
  right: 0;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #bf0909;
  z-index: 90;
  padding: 10px;

  @include for-992{
    height: 50px;
    max-width: 50px;
    bottom: 30px;
  }

  &:hover{
    svg path{
      fill: black !important;
    }

    span{
      color: black;
    }
  }

  .contact-form-btn-ico{
    width: 25px;
    height: 25px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      width: 100%;

      path{
        transition: .3s;
        fill: white;
      }
    }
  }

  span{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 11px;
    transition: .3s;

    @include for-992{
      display: none;
    }
  }
}


