extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "home-page";
  - var pageActive = "homePage";
block content
  div.main-wrap
    .home
      .home__inner
        .home__content.site-container
          .home__info
            .home__info-title Перейдіть від усвідомлення до дії вирішення
            .home__info-txt Успішні кейси, події, відповіді та консультації від провідних експертів для розвитку вашого бізнесу
            .home__info-form
              form
                input(type="text" placeholder="Яка бізнес-задача для Вас актуальна?").home__info-form-input
                input(type="submit" value="Знайти експертизу").home__info-form-btn

          .home__sphere
            .home__sphere-list
              .home__sphere-item.home__sphere-item--1(data-sphere-item="1")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere01-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere01hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="1")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere01detail-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Торгівля
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg
              .home__sphere-item.home__sphere-item--2(data-sphere-item="2")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="2")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg

              .home__sphere-item.home__sphere-item--3(data-sphere-item="3")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="3")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg
              .home__sphere-item.home__sphere-item--4(data-sphere-item="4")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="4")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg
              .home__sphere-item.home__sphere-item--5(data-sphere-item="5")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="5")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg

              .home__sphere-item.home__sphere-item--6(data-sphere-item="6")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="6")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg


              .home__sphere-item.home__sphere-item--7(data-sphere-item="7")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="7")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg

              .home__sphere-item.home__sphere-item--8(data-sphere-item="8")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="8")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg

              .home__sphere-item.home__sphere-item--9(data-sphere-item="9")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="9")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg

              .home__sphere-item.home__sphere-item--10(data-sphere-item="10")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="10")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg

              .home__sphere-item.home__sphere-item--11(data-sphere-item="11")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="11")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg

              .home__sphere-item.home__sphere-item--12(data-sphere-item="12")
                .home__sphere-preview
                  .home__sphere-preview-ico-hover-bg
                  .home__sphere-preview-ico
                    img(src="./img/ico/sphere02-ico.png" alt="ico").home__sphere-preview-ico-item
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-preview-ico-hover
              .home__sphere-detail(data-sphere-detail="12")
                .home__sphere-detail-inner
                  .home__sphere-detail-close
                  .home__sphere-detail-ico
                    img(src="./img/ico/sphere02hover-ico.png" alt="ico").home__sphere-detail-ico-i
                  .home__sphere-detail-info
                    .home__sphere-detail-title Будіництво
                    .home__sphere-detail-desc Галузь господарства і вид економічної діяльності, спрямований на здійснення купівлі-продажу, обміну товарів, а також пов'язані з цим процеси
                    .home__sphere-detail-btn
                      a(href="#").home__sphere-detail-btn-i.site-btn.site-btn--dark
                        span Детальніше
                        |
                        .site-btn__ico
                          include ../img/ico/arrow-right-white.svg






